.MMM-MyNextBus .route-container {
  position: relative;
  padding: 1px;
  border-bottom: solid 1px #222;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.MMM-MyNextBus .route-title {
  display: block;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  margin-left: 30px;
}

.MMM-MyNextBus .route-title .route-no {
  display: inline-block;
  background-color: #FFFFFF;
  border: solid 2px #FFFFFF;
  color: #000000;
  line-height: 18px;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  margin-right: 6px;
  padding: 0 6px;
  text-transform: uppercase;
}



.MMM-MyNextBus .stop-title {
  display: block;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  margin-left: 30px;
  margin-bottom: 12px;
}

.MMM-MyNextBus .branch-container {
  font-size: 16px;
  line-height: 18px;
  position: relative;
  margin-bottom: 6px;
}

.MMM-MyNextBus .branch-container .branch-title {
  display: block;
  margin-left: 30px;
  margin-right: 100px;
  text-transform: uppercase;
}

.MMM-MyNextBus .branch-container .next-vehicles {
  text-align: right;
  white-space: nowrap;
  position: absolute;
  top: 0px;
  right: 0px;

}

.MMM-MyNextBus .transit-icon {
  width: 24px;
  height: 24px;
  display: block;
  fill: currentColor;
  position: absolute;
  top: 3px;
  left: 0px;
}

.MMM-MyNextBus .branch-container .next-vehicles .arriving-soon {  
  color: #a3ea80;
}
